<ons-page id="search">
    <p style="text-align: center; margin-top: 10px;">
        <ons-search-input placeholder="Search" onchange="ons.notification.alert('Searched for: ' + this.value)">
        </ons-search-input>


    </p>

    <ons-list-item>
        <div class="left">
            <img class="list-item__thumbnail img-search" src="image/movie1.jpg">
        </div>
        <div class="center">
            <span class="list-item__title bold">Eurovision song contest(2019)</span>
            <span class="list-item__subtitle">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ...</span>
            <span class="list-item__subtitle bold">Ratings</span>
            <span class="list-item__subtitle bold">
                <div class="icon-center">
                    <ons-icon class="icon" icon="md-star">
                    </ons-icon>
                    <ons-icon class="icon" icon="md-star">
                    </ons-icon>
                    <ons-icon class="icon" icon="md-star">
                    </ons-icon>
                    <ons-icon class="icon" icon="md-star">
                    </ons-icon>
                    <ons-icon class="icon" icon="md-star-outline">
                    </ons-icon>
                </div>
            </span>
        </div>
    </ons-list-item>

    <ons-list-item>
        <div class="left">
            <img class="list-item__thumbnail img-search" src="image/movie2.jpg">
        </div>
        <div class="center">
            <span class="list-item__title bold">Mulan (2020)</span>
            <span class="list-item__subtitle">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ...</span>
            <span class="list-item__subtitle bold">Ratings</span>
            <span class="list-item__subtitle bold">
                <div class="icon-center">
                    <ons-icon class="icon" icon="md-star">
                    </ons-icon>
                    <ons-icon class="icon" icon="md-star">
                    </ons-icon>
                    <ons-icon class="icon" icon="md-star">
                    </ons-icon>
                    <ons-icon class="icon" icon="md-star">
                    </ons-icon>
                    <ons-icon class="icon" icon="md-star-half">
                    </ons-icon>
                </div>
            </span>
        </div>
    </ons-list-item>

    <ons-list-item>
        <div class="left">
            <img class="list-item__thumbnail img-search" src="image/movie3.jpg">
        </div>
        <div class="center">
            <span class="list-item__title bold">My Spy (2018)</span>
            <span class="list-item__subtitle">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ...</span>
            <span class="list-item__subtitle bold">Ratings</span>
            <span class="list-item__subtitle bold">
                <div class="icon-center">
                    <ons-icon class="icon" icon="md-star">
                    </ons-icon>
                    <ons-icon class="icon" icon="md-star">
                    </ons-icon>
                    <ons-icon class="icon" icon="md-star">
                    </ons-icon>
                    <ons-icon class="icon" icon="md-star">
                    </ons-icon>
                    <ons-icon class="icon" icon="md-star">
                    </ons-icon>
                </div>
            </span>
        </div>
    </ons-list-item>



</ons-page>